<mat-list role="list">

    <div class="profile-card">
        <img src="https://th.bing.com/th/id/OIP.xVu5a5U6exIkB1Ri_Ao5twHaDt?pid=ImgDet&rs=1" alt="no image">
        <h2>admin</h2>
        <h4>admin@xyz.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">employees</a>
  </mat-list>
